---
import '../styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
const identity = {
    firstName: 'Jordan',
    lastName: 'Marsh',
    occupation: 'Software Developer',
    hobbies: ['3D Modeling', 'Music Production', 'Drawing', 'Animation', 'Woodworking', 'Cooking']
};

const skills = ['C#', 'Javascript', 'Typescript', 'CSS', 'HTML', 'C++', 'Python', 'BASH', 'Powershell', 'Photoshop', 'Blender'];
---
<MainLayout pageTitle="About">
    <p>Hi! My name is {identity.firstName}&nbsp;{identity.lastName}!</p>
    <p>I have a lot of hobbies and interests, such as {identity.hobbies[1]}, and {identity.hobbies[4]}</p>
    <p>I'm a Software Developer with over a decade of experience, and a wide array of skills. Some of which include:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</MainLayout>